
.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

button {
    width: 86px;
    border: 1px solid #BC4C2A;
    color:  #F2BD00;
    padding: 8px 16px;
    text-transform: lowercase;
    cursor: pointer;
    background-color: #12519A;
}

button:hover {
    background-color:  #11296B;  /* royal blue dark */
    color: white;
    transition: all .4s ease-in-out;
}

button:disabled {
    background-color: #9E9E9D;
    cursor: not-allowed;
    color: #12519A;
}
